SIP/2.0 100 Trying
Via: SIP/2.0/UDP %(dest_ip)s:%(dest_port)s;branch=%(call_branch)s
From: sip:%(from_number)s@%(source_ip)s;tag=%(from_tag)s
To: sip:%(to_number)s@%(dest_ip)s
Call-ID: %(call-id)s
CSeq: %(cseq)s 
User-agent: Fake UA
Content-Length: 0
